<div id="<%= dom_id product %>" class="eachproduct">
  <p class="avatar">
  <%if product.avatar.attached? %>
    <%= link_to image_tag(product.avatar,:class => 'image'),product %>
  <%end%>
  </p>

  <div class="price">
    <%=number_to_currency((product.price/25000)-0.01) %>
  </div>

  <div class="name">
    <%= product.name %>
  </div>

  <div class="size">
    <%= product.size %>
  </div>

  <div class="color">
    <%= product.color1 %>
      <%if product.color2.present? %>/
        <%= product.color2 %>
      <%end%>
  </div>




</div>

