<div id="<%= dom_id product %>">
  <p class="avatar">
    <%= image_tag(product.avatar,:class => 'image') %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Color1:</strong>
    <%= product.color1 %>
  </p>

  <p>
    <strong>Color2:</strong>
    <%= product.color2 %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
