<header>
  <nav class="navbar navbar-expand-sm bg-black"> 
    <%= link_to image_tag('nabi4.jpg',:class => 'rounded-pill'),root_path,class:"navbar-brand" %>
    
    <ul class="navbar-nav me-auto ">
      <li >
        <%= link_to "All Dresses", products_path, class:"nav-link"  %>
      </li>

      <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Find Us On</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="color:rgb(184, 138, 230);" target="_blank" href="https://www.instagram.com/nabi.larobe/">Instagram</a></li>
            <li><a class="dropdown-item" style="color:rgb(184, 138, 230);" target="_blank" href="https://www.facebook.com/nabilarobee">Facebook</a></li>
            <li><a class="dropdown-item" style="color:rgb(184, 138, 230);" target="_blank" href="https://shopee.vn/nabilarobe"> Shopee</a></li>
            <li><a class="dropdown-item" style="color:rgb(184, 138, 230);" target="_blank" href="https://www.tiktok.com/@nabilarobe"> Tiktok</a></li>
          </ul>
      </li>

      <% if admin_signed_in? %>
        <li class="nav-item" >
          <%= link_to "Edit Profile", edit_admin_registration_path, class:"nav-link"  %>
        </li>
        <li class="nav-item" >
          <%= link_to 'New Product', new_product_path , class:"nav-link"  %>
        </li>

        <%= button_to "Sign Out",  destroy_admin_session_path,:method => :delete, class:"btn btn-default nav-link"  %>
                          <!-- khong duoc de nav-item ,khong bam duoc ,phai de button_to -->
      <% else %>
        <li class="nav-item" >
          <%= link_to "Admin Log in", new_admin_session_path, class:"nav-link"  %>
        </li>
      <% end %>
    </ul> 
    

      <%= search_form_for @q do |find| %>
        <input id="find_submit" type="image" <%= image_tag "search .jpg"  ,class:"search rounded-pill" %>
        <%= find.search_field :name_or_classify_or_color1_or_color2_or_size1_or_size2_cont , placeholder:"What are you looking for ? (name,color,...)",list:"datalistOptions",class:"search2 form-control",id:"find"%> 
    
          <datalist id="datalistOptions">
            <option value="Latest" >
            <option value="Greatest">
            <option value="Pink">
            <option value="White">
            <option value="Red">
            <option value="Freesize">
          </datalist>
      <% end %>

   
  </nav>
</header>